@import "tailwindcss";

@theme {
  /* Purple - Row 1 */
  --color-purple-50: #F2EFFD;
  --color-purple-100: #D4C8F7;
  --color-purple-200: #B29AF1;
  --color-purple-300: #936AE9;
  --color-purple-400: #7634D9;
  --color-purple-500: #4D2092;
  --color-purple-600: #280D51;

  /* Violet - Row 2 */
  --color-violet-50: #EFEBFC;
  --color-violet-100: #CCBEF4;
  --color-violet-200: #AB8FED;
  --color-violet-300: #8D5FE4;
  --color-violet-400: #6C32C3;
  --color-violet-500: #441D7F;
  --color-violet-600: #200A41;

  /* Indigo - Row 3 */
  --color-indigo-50: #DCD3F9;
  --color-indigo-100: #B9A4F4;
  --color-indigo-200: #9975ED;
  --color-indigo-300: #7C3EE4;
  --color-indigo-400: #5622A5;
  --color-indigo-500: #301061;
  --color-indigo-600: #170535;

  /* Custom grays */
  --color-brand-gray-50: #F1F0F1;
  --color-brand-gray-100: #CFCED1;
  --color-brand-gray-200: #A8A7AD;
  --color-brand-gray-300: #83818A;
  --color-brand-gray-400: #605D67;
  --color-brand-gray-500: #3E3C43;
  --color-brand-gray-600: #1F1E22;
}

body {
  color: var(--color-brand-gray-600);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
