@import "tailwindcss";

@theme {
  /* Purple — brand (400) = #250D53 */
  --color-purple-50: #f2effa;
  --color-purple-100: #d7cde9;
  --color-purple-200: #b4a2d1;
  --color-purple-300: #806aae;
  --color-purple-400: #250d53;
  --color-purple-500: #1a0940;
  --color-purple-600: #11062c;
  --color-purple-700: #080318;

  /* Violet - Row 2 */
  --color-violet-50: #efebfc;
  --color-violet-100: #ccbef4;
  --color-violet-200: #ab8fed;
  --color-violet-300: #8d5fe4;
  --color-violet-400: #6c32c3;
  --color-violet-500: #441d7f;
  --color-violet-600: #200a41;

  /* Indigo - Row 3 */
  --color-indigo-50: #dcd3f9;
  --color-indigo-100: #b9a4f4;
  --color-indigo-200: #9975ed;
  --color-indigo-300: #7c3ee4;
  --color-indigo-400: #5622a5;
  --color-indigo-500: #301061;
  --color-indigo-600: #170535;

  /* Custom grays */
  --color-brand-gray-50: #f1f0f1;
  --color-brand-gray-100: #cfced1;
  --color-brand-gray-200: #a8a7ad;
  --color-brand-gray-300: #83818a;
  --color-brand-gray-400: #605d67;
  --color-brand-gray-500: #3e3c43;
  --color-brand-gray-600: #1f1e22;
}

body {
  color: var(--color-brand-gray-600);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
